{% extends "base.html" %}
{% block content %}

<h1>Novo Usuário</h1>

<form method="POST">

    <label>Nome</label>
    <input type="text" name="nome" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Senha Criptografada</label>
    <input type="text" name="senha_hash" required>

    <label>Empresa</label>
    <select name="id_empresa">
        {% for e in empresas %}
        <option value="{{ e.id_empresa }}">{{ e.nome }}</option>
        {% endfor %}
    </select>

    <label>Administrador?</label>
    <input type="checkbox" name="is_admin">

    <button class="btn">Salvar</button>

</form>

{% endblock %}
